In [2]:
import os
import pandas as pd

In [3]:
results = pd.read_json(os.path.join('data','ergast-results.json'))

In [4]:
results.groupby(['date','constructor','name'])['position'].first()

date        constructor  name
1950-05-13  Alfa Romeo   Juan Fangio         NaN
                         Luigi Fagioli       2.0
                         Nino Farina         1.0
                         Reg Parnell         3.0
            Alta         Geoff Crossley      NaN
                                            ...
2024-07-07  Red Bull     Sergio Pérez       17.0
            Sauber       Guanyu Zhou        18.0
                         Valtteri Bottas    15.0
            Williams     Alexander Albon     9.0
                         Logan Sargeant     11.0
Name: position, Length: 26445, dtype: float64

In [5]:
results = results.sort_values(by="position")

In [118]:
comp = pd.DataFrame(results.groupby(['date','constructor','name'])['position'].first())
comp

                                        position
date       constructor name
1950-05-13 Alfa Romeo  Juan Fangio           NaN
                       Luigi Fagioli         2.0
                       Nino Farina           1.0
                       Reg Parnell           3.0
           Alta        Geoff Crossley        NaN
...                                          ...
2024-07-07 Red Bull    Sergio Pérez         17.0
           Sauber      Guanyu Zhou          18.0
                       Valtteri Bottas      15.0
           Williams    Alexander Albon       9.0
                       Logan Sargeant       11.0

[26445 rows x 1 columns]

In [119]:
comp['best_in_team'] = comp.groupby(['date', 'constructor'])['position'].transform(lambda x: x == x.min())

In [120]:
comp

                                        position  best_in_team
date       constructor name
1950-05-13 Alfa Romeo  Juan Fangio           NaN         False
                       Luigi Fagioli         2.0         False
                       Nino Farina           1.0          True
                       Reg Parnell           3.0         False
           Alta        Geoff Crossley        NaN         False
...                                          ...           ...
2024-07-07 Red Bull    Sergio Pérez         17.0         False
           Sauber      Guanyu Zhou          18.0         False
                       Valtteri Bottas      15.0          True
           Williams    Alexander Albon       9.0          True
                       Logan Sargeant       11.0         False

[26445 rows x 2 columns]

In [121]:
average_result = pd.DataFrame(comp.groupby('name')['position'].mean())
average_result = average_result = average_result.reset_index()
average_result = average_result.rename(columns={'position':'avg','name':'driver'})

In [122]:
comp['driver'] = comp.index.get_level_values(2)

In [123]:
comp

                                        position  best_in_team  \
date       constructor name
1950-05-13 Alfa Romeo  Juan Fangio           NaN         False
                       Luigi Fagioli         2.0         False
                       Nino Farina           1.0          True
                       Reg Parnell           3.0         False
           Alta        Geoff Crossley        NaN         False
...                                          ...           ...
2024-07-07 Red Bull    Sergio Pérez         17.0         False
           Sauber      Guanyu Zhou          18.0         False
                       Valtteri Bottas      15.0          True
           Williams    Alexander Albon       9.0          True
                       Logan Sargeant       11.0         False

                                                 driver
date       constructor name
1950-05-13 Alfa Romeo  Juan Fangio          Juan Fangio
                       Luigi Fagioli      Luigi Fagioli
                       Nino Farina          Nino Farina
                       Reg Parnell          Reg Parnell
           Alta        Geoff Crossley    Geoff Crossley
...                                                 ...
2024-07-07 Red Bull    Sergio Pérez        Sergio Pérez
           Sauber      Guanyu Zhou          Guanyu Zhou
                       Valtteri Bottas  Valtteri Bottas
           Williams    Alexander Albon  Alexander Albon
                       Logan Sargeant    Logan Sargeant

[26445 rows x 3 columns]

In [124]:
average_result

                driver        avg
0         Adolf Brudes        NaN
1          Adolfo Cruz        NaN
2         Adrian Sutil  12.471910
3        Adrián Campos  15.000000
4         Aguri Suzuki   9.160000
..                 ...        ...
854  Zsolt Baumgartner  13.500000
855         Élie Bayol   5.500000
856       Éric Bernard   9.227273
857         Érik Comas   9.281250
858     Óscar González   6.000000

[859 rows x 2 columns]

In [125]:
comp = comp.reset_index(drop=False).merge(average_result, on='driver')

In [126]:
comp

,date,constructor,name,position,best_in_team,driver,avg
0,1950-05-13,Alfa Romeo,Juan Fangio,NaN,False,Juan Fangio,1.853659
1,1950-05-13,Alfa Romeo,Luigi Fagioli,2.0,False,Luigi Fagioli,2.000000
2,1950-05-13,Alfa Romeo,Nino Farina,1.0,True,Nino Farina,2.807692
3,1950-05-13,Alfa Romeo,Reg Parnell,3.0,False,Reg Parnell,4.750000
4,1950-05-13,Alta,Geoff Crossley,NaN,False,Geoff Crossley,9.000000
...,...,...,...,...,...,...,...
26440,2024-07-07,Red Bull,Sergio Pérez,17.0,False,Sergio Pérez,7.925311
26441,2024-07-07,Sauber,Guanyu Zhou,18.0,False,Guanyu Zhou,13.617021
26442,2024-07-07,Sauber,Valtteri Bottas,15.0,True,Valtteri Bottas,7.425837
26443,2024-07-07,Williams,Alexander Albon,9.0,True,Alexander Albon,10.450000
26444,2024-07-07,Williams,Logan Sargeant,11.0,False,Logan Sargeant,15.576923

In [128]:
comp

,date,constructor,name,position,best_in_team,driver,avg
0,1950-05-13,Alfa Romeo,Juan Fangio,NaN,False,Juan Fangio,1.853659
1,1950-05-13,Alfa Romeo,Luigi Fagioli,2.0,False,Luigi Fagioli,2.000000
2,1950-05-13,Alfa Romeo,Nino Farina,1.0,True,Nino Farina,2.807692
3,1950-05-13,Alfa Romeo,Reg Parnell,3.0,False,Reg Parnell,4.750000
4,1950-05-13,Alta,Geoff Crossley,NaN,False,Geoff Crossley,9.000000
...,...,...,...,...,...,...,...
26440,2024-07-07,Red Bull,Sergio Pérez,17.0,False,Sergio Pérez,7.925311
26441,2024-07-07,Sauber,Guanyu Zhou,18.0,False,Guanyu Zhou,13.617021
26442,2024-07-07,Sauber,Valtteri Bottas,15.0,True,Valtteri Bottas,7.425837
26443,2024-07-07,Williams,Alexander Albon,9.0,True,Alexander Albon,10.450000
26444,2024-07-07,Williams,Logan Sargeant,11.0,False,Logan Sargeant,15.576923

In [134]:
comp[comp['best_in_team'] == True].groupby('driver')['avg'].mean().sort_values().head(50)

driver
Juan Fangio              1.853659
Dorino Serafini          2.000000
Luigi Fagioli            2.000000
Alberto Ascari           2.181818
Nino Farina              2.807692
Jackie Stewart           2.952381
Alain Prost              2.958042
José Froilán González    3.000000
Mike Parkes              3.000000
Ayrton Senna             3.148148
Stirling Moss            3.459459
Lee Wallard              3.500000
Alfonso de Portago       3.500000
Max Verstappen           3.526946
Lewis Hamilton           3.568254
Mike Hawthorn            3.696970
Michael Schumacher       3.701245
Jim Clark                3.840000
Nigel Mansell            3.918367
Sam Hanks                4.000000
Paul Goldsmith           4.000000
Don Branson              4.000000
Piero Taruffi            4.083333
Nelson Piquet            4.139344
Peter Collins            4.187500
James Hunt               4.195652
Jochen Rindt             4.200000
Juan Pablo Montoya       4.209677
Luigi Musso              4.214286
Niki Lauda               4.263736
Stuart Lewis-Evans       4.333333
Felice Bonetto           4.333333
Mika Häkkinen            4.466019
Damon Hill               4.480519
Jack Brabham             4.630137
Willy Mairesse           4.666667
Bruce McLaren            4.682540
Wolfgang von Trips       4.736842
Reg Parnell              4.750000
Carlos Menditeguy        4.750000
John Surtees             4.759259
Denny Hulme              4.794872
Jean Behra               4.920000
Walt Hansgen             5.000000
Eugenio Castellotti      5.000000
Ludovico Scarfiotti      5.000000
Onofre Marimón           5.000000
Bobby Ball               5.000000
François Cevert          5.034483
Tony Brooks              5.045455
Name: avg, dtype: float64

In [127]:
comp['drivers_beaten'] = comp.groupby(['date', 'constructor'])['avg'].min()

TypeError: incompatible index of inserted column with frame index

In [56]:
comp

,date,constructor,name,position,best_in_team,avg
0,1950-05-13,Alfa Romeo,Juan Fangio,NaN,False,2.250000
1,1950-05-13,Alfa Romeo,Luigi Fagioli,2.0,False,3.285714
2,1950-05-13,Alfa Romeo,Nino Farina,1.0,True,2.814815
3,1950-05-13,Alfa Romeo,Reg Parnell,3.0,False,4.750000
4,1950-05-13,Alta,Geoff Crossley,NaN,False,9.000000
...,...,...,...,...,...,...
26440,2024-07-07,Red Bull,Sergio Pérez,17.0,False,7.925311
26441,2024-07-07,Sauber,Guanyu Zhou,18.0,False,13.617021
26442,2024-07-07,Sauber,Valtteri Bottas,15.0,True,7.425837
26443,2024-07-07,Williams,Alexander Albon,9.0,True,10.450000
26444,2024-07-07,Williams,Logan Sargeant,11.0,False,15.576923

In [53]:
comp

,date,constructor,name,position,best_in_team,avg
0,1950-05-13,Alfa Romeo,Juan Fangio,NaN,False,2.250000
1,1950-05-13,Alfa Romeo,Luigi Fagioli,2.0,False,3.285714
2,1950-05-13,Alfa Romeo,Nino Farina,1.0,True,2.814815
3,1950-05-13,Alfa Romeo,Reg Parnell,3.0,False,4.750000
4,1950-05-13,Alta,Geoff Crossley,NaN,False,9.000000
...,...,...,...,...,...,...
26440,2024-07-07,Red Bull,Sergio Pérez,17.0,False,7.925311
26441,2024-07-07,Sauber,Guanyu Zhou,18.0,False,13.617021
26442,2024-07-07,Sauber,Valtteri Bottas,15.0,True,7.425837
26443,2024-07-07,Williams,Alexander Albon,9.0,True,10.450000
26444,2024-07-07,Williams,Logan Sargeant,11.0,False,15.576923

In [16]:
best_in_team_counts = comp[comp['best_in_team'] == True]['name'].value_counts()

In [34]:
total_races_counts = comp['name'].value_counts()

In [35]:
total_races_counts

name
Fernando Alonso       392
Kimi Räikkönen        352
Lewis Hamilton        344
Rubens Barrichello    326
Jenson Button         309
                     ...
Eric Thompson           1
Ray Reed                1
Clive Puzey             1
David Clapham           1
Oliver Bearman          1
Name: count, Length: 859, dtype: int64

In [36]:
total_races_counts = total_races_counts[total_races_counts >= 40]

In [37]:
drivers_percentages = (best_in_team_counts / total_races_counts) * 100

In [38]:
drivers_percentages.dropna().sort_values(ascending=False).head(30)

name
Juan Fangio             74.509804
Max Verstappen          70.558376
Mick Schumacher         65.909091
Fernando Alonso         65.306122
Lando Norris            63.793103
Michael Schumacher      62.662338
Alexander Albon         61.290323
Lewis Hamilton          60.755814
George Russell          59.482759
Sebastian Vettel        59.333333
Ayrton Senna            56.790123
Emerson Fittipaldi      55.033557
Charles Leclerc         54.744526
Alain Prost             54.455446
Pierre Gasly            54.225352
Jim Clark               52.777778
Timo Glock              52.631579
Nico Rosberg            52.427184
Jenson Button           52.103560
Mika Salo               51.351351
Kamui Kobayashi         51.315789
Jackie Stewart          51.000000
Nick Heidfeld           50.543478
Tom Pryce               50.000000
Jaime Alguersuari       50.000000
Kimi Räikkönen          49.715909
Nico Hülkenberg         49.541284
Nelson Piquet           49.275362
Heikki Kovalainen       49.107143
Christian Fittipaldi    48.837209
Name: count, dtype: float64

In [31]:
drivers_percentages.dropna().sort_values().head(20)

name
Hector Rebaque            6.896552
Bertrand Gachot          11.904762
Arturo Merzario          11.904762
Piercarlo Ghinzani       13.513514
Roberto Moreno           13.513514
Jean-Pierre Jabouille    14.545455
Gabriele Tarquini        15.384615
Satoru Nakajima          16.250000
Harry Schell             17.543860
Maurice Trintignant      17.647059
Manfred Winkelhock       18.181818
Aguri Suzuki             18.181818
Bruno Giacomelli         18.292683
Henri Pescarolo          18.644068
Roy Salvadori            19.607843
Jackie Oliver            19.607843
Teo Fabi                 19.718310
Olivier Grouillard       20.967742
Jo Bonnier               21.100917
Phil Hill                21.153846
Name: count, dtype: float64