In [1]:
import os
import pandas as pd

In [3]:
results = pd.read_json(os.path.join('data','ergast-results.json'))

In [15]:
dptps = results.groupby(["year","constructor"])['name'].nunique()
dptps[dptps >= 4].tail(40)

year    constructor
1984.0  Brabham        4
        Toleman        4
        Tyrrell        4
1985.0  Tyrrell        5
1986.0  Osella         4
1988.0  Larrousse      4
        Williams       4
1989.0  Larrousse      4
        Rial           5
        Tyrrell        4
1991.0  AGS            4
        Jordan         5
        Team Lotus     4
1992.0  March          4
1993.0  Jordan         6
        Minardi        4
1994.0  Benetton       4
        Jordan         4
        Larrousse      6
        Ligier         4
        Sauber         4
        Simtek         6
        Team Lotus     6
        Williams       4
1995.0  McLaren        4
        Pacific        4
1996.0  Minardi        4
1997.0  Sauber         4
2001.0  Jordan         4
        Prost          5
2004.0  Toyota         4
        Williams       4
2005.0  McLaren        4
2006.0  Super Aguri    4
2007.0  Spyker         4
2009.0  Ferrari        4
2010.0  HRT            4
2014.0  Caterham       4
2017.0  Toro Rosso     4
2023.0  AlphaTauri     4
Name: name, dtype: int64

In [21]:
dptps[dptps == 1].tail(20)

year    constructor
1979.0  Kauhsen        1
        Rebaque        1
1980.0  Osella         1
1982.0  Ensign         1
        Fittipaldi     1
1983.0  ATS            1
        Spirit         1
1985.0  Lola           1
        Minardi        1
        Spirit         1
1986.0  AGS            1
1987.0  Coloni         1
        March          1
1988.0  AGS            1
        Coloni         1
        Dallara        1
        Osella         1
        Rial           1
1990.0  Coloni         1
        Osella         1
Name: name, dtype: int64

In [25]:
dptps.nlargest(10)

year    constructor
1953.0  Kurtis Kraft     29
1954.0  Kurtis Kraft     27
1956.0  Maserati         26
        Kurtis Kraft     24
1962.0  Lotus-Climax     24
1955.0  Kurtis Kraft     23
1958.0  Maserati         23
1961.0  Lotus-Climax     23
1957.0  Kurtis Kraft     22
1960.0  Cooper-Climax    22
Name: name, dtype: int64

In [51]:
dptps2 = dptps.reset_index()

In [63]:
dptps2[dptps2['year'] > 1980].sort_values(by='name', ascending=False).head(20)

        year  constructor  name
784   1994.0   Team Lotus     6
777   1994.0    Larrousse     6
763   1993.0       Jordan     6
566   1981.0       Osella     6
783   1994.0       Simtek     6
635   1985.0      Tyrrell     5
733   1991.0       Jordan     5
864   2001.0        Prost     5
701   1989.0         Rial     5
786   1994.0     Williams     4
782   1994.0       Sauber     4
916   2006.0  Super Aguri     4
592   1983.0       Arrows     4
1039  2017.0   Toro Rosso     4
773   1994.0     Benetton     4
598   1983.0          RAM     4
776   1994.0       Jordan     4
819   1997.0       Sauber     4
741   1991.0   Team Lotus     4
944   2009.0      Ferrari     4